name: Crawl PactFlow docs

on:
  # schedule:
  # - cron: "0 0 * * 0"
  # push:
  workflow_dispatch:

jobs:
  pactflow_docs_crawler:
    runs-on: ubuntu-latest
    env:
      PACTFLOW_ALGOLIA_APP_ID: LY8MHW6MWQ
      PACTFLOW_ALGOLIA_KEY: ${{secrets.PACTFLOW_ALGOLIA_KEY}}
    name: Index PactFlow site
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - run: make crawl
